body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEEEEE;
}
h3{
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto;
}
h4{
  font-size: 1.5rem;
  margin-bottom: 0px;
}
a {
  color: #00b7ff;
}
ul{
  list-style: none;
  padding-left: 0;
}

.header{
  background-color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 50px;
}
.wrapper{
  padding: 0 50px;
  height: 100%;
}
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
  float: right;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: black;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


.container{
  padding: 50px;
}

.btn-outline-primary{
  background-color: #93C47D;
  color: #ffffff;
  border: 8px solid #B6D7A8;
  border-radius: 0.75rem;
}
.button_task .btn:hover{
  background-color: #93C47D;
  border: 8px solid #93C47D;
}

.todo{
  margin-top: 24px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16)
}
.row{
  margin: 0px;
}
.todo_content{
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 35px;
  position: relative;
}
.todo_content_flex{
  display: flex;
  justify-content: space-between;
}
.orange{
  background-color: #F6B26B;
  max-width: 0;
  padding: 10px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.todo_button{
  color: #ffffff;
}
.todo_button.img{
  width: 36px;
}
.todo_update{
  background-color: #A4C2F4;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.todo_update:hover{
  background-color: #6D9EEB;
}
.todo_delete{
  background-color: #F4CCCC;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
}
.todo_delete:hover{
  background-color: #EB6D6D;
}

.modal{
  background-color: rgba(0,0,0,0.25);
}
.modal-content{
  padding: 24px;
}
.modal-add p{
  padding: 8px;
  background-color: #EFEFEF;
  border-radius: 9px;
  margin-top: 8px;
}
.btn-secondary{
  background-color: #EFEFEF;
  color: black;
  border: none;
  padding: 8px 32px;
}
.btn-add{
  background-color: #7BA7ED;
  border: none;
  padding: 8px 32px;
}