body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEEEEE;
}
h2{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
h3{
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 ;
}
h4{
  font-size: 1.25rem;
  margin-bottom: 0px;
}
p{
  margin-bottom: 0;
}
a {
  color: #00b7ff;
}
ul{
  list-style: none;
  padding-left: 0;
}

.header{
  background-color: white;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
  width: 100vw;
  height: 50px;
}
.wrapper{
  padding: 0 24px;
  height: 100%;
}
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
  float: left;
  z-index: 1000;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: black;
  	width: 45%;
  }

  .white span{
    background-color: white;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav{
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -120%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16) ;
  background-color: #93C47D;
  z-index: 999;
  transition: all 0.6s;
}

#g-nav.panelactive{
  left: 0;
}
.sidemenu{
  margin-top: 160px;
  margin-left: 40px;
  color: white;
}
.sidemenu li{
  margin-top: 16px;
}
.sidemenu_cate{
  font-size: 0.875rem;
  margin-left: 24px;
}
.sidemenu_cate ul li{
  margin-top: 8px;
}

.container{
  padding: 50px 140px;
}

.btn-outline-primary{
  position: fixed;
  background-color: #93C47D;
  border: 8px solid #93C47D;
  color: #ffffff;
  border-radius: 25px;
  bottom: 50px;
  right: 24px;
}
.button_task .btn:hover{
  background-color: #93C47D;
  border: 8px solid #B6D7A8;
}

.todo_title{
  display: flex;
  justify-content: space-between;
}
.todo_title p{
  color: #93C47D;
  font-weight: bold;
  text-decoration: underline #93C47D;
  cursor: pointer;
}
#items li{
  position: relative;
}
input[type=checkbox] {
  display:none;
}
.check_position{
    position: absolute;
    top: 25%;
    left: -40px;
}
.checkbox{
  position: relative;
    padding: 5px 30px;
    cursor: pointer;
    margin-left: -18px;
}
.checkbox:before{
  width:36px; /* チェックボックスの幅 */
  height:36px; /* チェックボックスの高さ */
  left:5px; 
  border:3px solid #93C47D; /* チェックボックスの枠 */
  border-radius:  25px; 
  margin-top:-8px;
}
.checkbox:after,.checkbox:before{
  position:absolute;
  content:"";
  top:50%
}
.checkbox::after {
  position: absolute;
    width: 10px;
    height: 14px;
    top: 110%;
    left: 29%;
    border-right: 2px solid white;
    border-bottom: 3px solid white;
    content: '';
    margin-top: -7px;
    opacity: 0;
    transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox::before{
  background-color: #93C47D;
}
input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

.todo{
  margin-top: 24px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16)
}
.row{
  margin: 0px;
}
.todo_content{
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 35px;
  position: relative;
}
.todo_content_flex{
  display: flex;
  justify-content: space-between;
}
.category_color{
  max-width: 0;
  padding: 10px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.deadline svg{
  cursor: pointer;
  margin-left: 8px;
}

.todo_button{
  color: #ffffff;
}
.todo_button.img{
  width: 36px;
}
.todo_update{
  background-color: #A4C2F4;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.todo_update:hover{
  background-color: #6D9EEB;
}
.todo_delete{
  background-color: #F4CCCC;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
}
.todo_delete:hover{
  background-color: #EB6D6D;
}

.srt_hndl{
  position: absolute;
  right: 0;
  padding-left: 100%;
}

.srt_hndl_line{
  position: relative;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
  float: right;
  margin-right: -50px;
  margin-top: -50px;
}
.srt_hndl_line span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background: #B7B7B7;
  width: 45%;
}
.srt_hndl_line span:nth-of-type(1) {
	top:15px;	
}

.srt_hndl_line span:nth-of-type(2) {
	top:23px;
}

.modal{
  background-color: rgba(0,0,0,0.25);
}
.modal-content{
  padding: 24px;
}
.modal-add input,.modal-add select{
  width: 100%;
  padding: 8px;
  background-color: #EFEFEF;
  border-radius: 9px;
  margin-top: 8px;
  border: none;
}
.btn-secondary{
  background-color: #EFEFEF;
  color: black;
  border: none;
  padding: 8px 32px;
}
.btn-add{
  background-color: #7BA7ED;
  border: none;
  padding: 8px 32px;
}
.modal-change ul{
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
.category_color_change{
  width: 36px;
  height: 36px;
  border-radius: 25px;
}
.orange{
  background-color: #F6B26B;
}
.green{
  background-color: #93C47D;
}
.blue{
  background-color: #7BA7ED;
}
.red{
  background-color: #EB6D6D;
}
